Share/*.exe
Share/*.dll
Share/*.pdb
Share/VersaceResults/*
*.vsp
*/bin
*/obj
*.suo
*.vsmdi
*.testsettings
*.vshost.exe.manifest
*/*.user
TestResults
Share/*.exe.config
Share/*.lib
Share/*.exp
*.sdf
*.opensdf
Debug
Release
packages/*
Share/*.xml
Share/*.ilk
*.prfsession
DbBar.json
ProtoRun.json
QuqeView.sln.DotSettings.user
Share/App.config
Share/DotStuff/
Share/Share.zip
Share/pages/
Share/x64/
Share/x86/
TestExe/packages.config
TestExe/x64/
TestExe/x86/
firstrun/
ipch/
survivegotoblas2-3.14/
tmp/
